.task {
	width: 100%;
	background: var(--gray-500);
	border: 1px solid var(--gray-400);
	padding: 1rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.75rem;
}

.task p {
	font-size: 14px;
	line-height: 1.15rem;
	color: var(--gray-100);
	margin-right: auto;
}

p.textCompleted {
	color: var(--gray-300);
	text-decoration: line-through;
}

.checkContainer {
	width: 1.15rem;
	height: 1.15rem;
	background: none;
	border: none;
}

.checkContainer div {
	width: 100%;
	height: 100%;
	border: 2px solid var(--blue);
	border-radius: 50%;
}

.checkContainer svg {
	width: 100%;
	height: 100%;
	color: var(--purple);
}

.deleteButton {
	background: none;
	border: none;
	color: var(--gray-300);
	transition: 0.4s;
}

.deleteButton:hover {
	color: var(--danger);
}
